<section class="projectoapp">
  <header class="header">
    <h1>Projects</h1>
    <form id="new-form">
      <input type="text" class="new-project" placeholder="Which project is up next?" />
    </form>
  </header>

  <section class="main">
    <ul class="project-list">

    </ul>
  </section>
</section>

<section class="credits">
  A huge thanks to <%= link_to "todo-mvc", "http://todomvc.com" %>
  for the design of this application
</section>